<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About</title>
    <link rel="icon" href="images/iconwebsite.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>Hello, world!</title>
</head>

<style>
    a:hover {
        /* background-color: green; */

font-size: large;
            text-decoration: underline;    }

    .carousel-inner>.item {
        position: relative;
        display: none;
        -webkit-transition: 0.3s ease-in-out left;
        -moz-transition: 0.3s ease-in-out left;
        -o-transition: 0.3s ease-in-out left;
        transition: 0.3s ease-in-out left;
    }
</style>

<body>




    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/about1.jpg" height="750px" width="1200px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/about2.jpg" height="750px" width="1200px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/abouttwo.jpg" height="750px" width="1200px" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>


    <!--Carousel Start-->
    <!-- <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators ">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/image/about1.jpg" height="750px" width="1200px" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Welcome To Android World</h2>
                <p>Lets Build Something Inovative</p>
                
            </div>
        </div>
        <div class="carousel-item">
            <img src="/image/about2.jpg" height="750px" width="1200px" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Welcome To Android World</h2>
                <p>Lets Build Something Inovative</p>
                
            </div>
        </div>
        <div class="carousel-item">
            <img src="/image/abouttwo.jpg" height="750px" width="1200px" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Welcome To Android World</h2>
                <p>Lets Build Something Inovative</p>
                
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->
    <!--carousel End-->






    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-1">

        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="images/iconwebsite.png" width="30" height="30" alt="">
                I am Akshay</a>

            <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navbar">

                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navbarNav">

                <div class="mx-auto"></div>

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a href="./" class="nav-link text-white"><img src="images/home.png" width="20" height="20"
                                alt=""> Home</a>
                    </li>


                    <li class="nav-item">
                        <a href="/contact" class="nav-link text-white"><img src="images/contact.png" width="20"
                                height="20" alt=""> Contact Us</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link text-white"><img src="image/home.png" width="15" height="15" alt=""> Service</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link text-white"><img src="image/home.png" width="15" height="15" alt=""> Solution</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link text-white"><img src="image/home.png" width="15" height="15" alt=""> Project</a>
                    </li> -->

                    <!-- <li class="nav-item">
                        <a href="about.html" class="nav-link text-white "><img src="image/home.png" width="15" height="15" alt=""> About</a>
                    </li> -->



                    {{!-- <li class="nav-item">
                        <a href="/faculty" class="nav-link text-white"><img src="images/contact.png" width="20"
                                height="20" alt="">Faculty</a>
                    </li> --}}

                </ul>

            </div>

        </div>
    </nav>








    <div class="container my-4 p-5 ">

        <div class="bg-dark p-5 rounded-3 ">
            <h1 class="text-warning">Who We Are!</h1>
            <h5 class="text-warning">We Provide Additional Services That Will Grow Your Business</h5>
            <p class="text-warning">
                We, I am Akshay Techub Top IT Company in Nagpur are passionate about our work.
                Our Designers stay ahead of the curve providing engaging and user-friendly
                website designs to make your business stand out. Our developers are committed
                to maintaining the highest web standards so that your site will withstand
                the test of time.
            </p>


        </div>





        <div class="row featurette d-flex justify-content-center mt-5 bg-dark p-5 rounded-3">
            <div class="col-md-7">
                <h2 class="featurette-heading text-warning">Team<span class="text-muted"></span></h2>
                <p class="lead text-warning">Some great placeholder content for the first featurette here. Imagine some
                    exciting
                    prose here.</p>











            </div>
            <div class="col-md-5">
                <!--For Image API-->
                <!-- <img class="img-fluid" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://source.unsplash.com/500x500/?team,team work,friends"> -->
                <img class="img-fluid"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="images/team.jpg">


            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center my-4 bg-dark p-5 rounded-3">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading text-warning">IDEA AND DESIGN <span class="text-muted">
                    </span></h2>
                <p class="lead text-warning">Let's talk about your ideas and see how best to set them into action. You
                    can rely on our analysts and their
                    judgement. Our graphic designers will soon have drafts ready for your perusal..</p>
            </div>
            <div class="col-md-5 order-md-1">
                <!-- <img class="img-fluid" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://source.unsplash.com/500x500/?design,designer"> -->
                <img class="img-fluid"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="images/idea.jpg">

                <!-- 
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa"
                        dy=".3em">500x500</text>
                </svg>
             -->

            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center my-4 bg-dark p-5 rounded-3">
            <div class="col-md-7">
                <h2 class="featurette-heading text-warning">DEVELOPMENT AND TESTING<span class="text-muted">
                    </span></h2>
                <p class="lead text-warning">We develop all apps according to the latest trends. During the development
                    phase,
                    we’ll keep in touch. Our fortnight development cycles
                    allow us to pass over testing versions to the client and react to assigment changes.</p>
            </div>
            <div class="col-md-5">
                <!-- <img class="img-fluid" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-3" src="https://source.unsplash.com/500x500/?service,help,customers helpline,customer service"> -->

                <img class="img-fluid"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="images/development.jpg">

            </div>
        </div>
    </div>



    <p class="float-end my-2"><a href="#"><button type="button" class="m-3 btn btn-outline-warning ">Back To
                Top</button>
        </a></p>

    <footer class="bg-dark text-white pt-5 pb-4">

        <div class="container text-center text-md-left">

            <div class="row text-center text-md-left">



                <!--Company Name Material-->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">

                    <h5 class="text-uppercase md-4 font-weight-bold text-warning">I am Akshay</h5>

                    <p>I Am Akshay is process driven Software solution and web solution provider firm based in
                        India. Our goal is to provide quality software solution and web Solution to customers
                        which meet their business needs.</p>

                </div>



                <!--Some Other Website Link-->

                <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Other Sites</h5>

                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">THe</a>
                    </p>


                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">The Napster</a>
                    </p>


                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">The Programer</a>
                    </p>


                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">The One</a>
                    </p>

                </div> -->







                <!--Quick Link Material-->

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Quick Links</h5>

                    <!-- <p>
                        <a href="/" class="text-white" style="text-decoration: none;">Back To Top</a>
                    </p> -->

                    <p>
                        <a href="/index" class="text-white" style="text-decoration: none;">Home</a>
                    </p>


                    <p>
                        <a href="/contact" class="text-white" style="text-decoration: none;">Contact Us</a>
                    </p>


                    <!-- <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Solution</a>
                    </p> -->

                </div>


                <!--Footer Address Material-->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">

                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>

                    <p>
                        <i class="fas fa-home mr-3"> </i> Ward no 3, Chandur Railway ,Dist: Amravati
                    </p>

                    <p>
                        <i class="fas fa-envelope mr-3"> </i> iamguddu37@gmail.com
                    </p>

                    <p>
                        <i class="fas fa-phone mr-3"> </i> +91 8855935799
                    </p>


                </div>


                <!--Create Line-->
                <hr class="mb-4">


                <!--Footer CopyRight Material-->
                <div class="col-md-7 col-lg-8">

                    <p>Copyright @2022 all Right Reserved By
                        <a href="#" style="text-decoration: none;">
                            <strong class="text-warning">I am Akshay</strong>
                        </a>
                    </p>
                </div>


                <!--Social Networking Link-->
                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">

                        <ul class="list-unstyled list-inline">

                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/akshay.bhasme.714"
                                    class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                        class="fab fa-facebook"></i></a>
                            </li>


                            <li class="list-inline-item">
                                <a href="https://twitter.com/guddu_bhasme" class="btn-floating btn-sm text-white"
                                    style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                            </li>


                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/bhasme.a/" class="btn-floating btn-sm text-white"
                                    style="font-size: 23px;"><i class="fab fa-instagram"></i></a>
                            </li>

                            <!-- <li class="list-inline-item">
                                <a href="https://in.linkedin.com" class="btn-floating btn-sm text-white"
                                    style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
                            </li>

                            <li class="list-inline-item">
                                <a href="https://www.youtube.com/" class="btn-floating btn-sm text-white"
                                    style="font-size: 23px;"><i class="fab fa-youtube"></i></a>
                            </li> -->

                        </ul>


                    </div>



                </div>


            </div>
        </div>

    </footer>



    <!-- Optional JavaScript; choose one of the two! -->




    <script src="js/bootstrap.bundle.min.js">

        var myCarousel = document.querySelector('#myCarousel')
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 2000,
            wrap: false
        })

    </script>



    <script>


        var nav = document.querySelector('nav');



        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 100) {
                nav.classList.add('bg-dark', 'shadow')
            } else {
                nav.classList.remove('bg-dark', 'shadow')
            }
        });


    </script>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>


</html>